<div class="post">
	<div class="header">
		<h1>Post title</h1>
		<button routerLink="/" class="btn btn-link">Home page</button>
	</div>

	<div class="info">
		<strong>Author</strong>
		<small>09.02.2022</small>
	</div>

	<div>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt, voluptatem?</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt, voluptatem?</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt, voluptatem?</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt, voluptatem?</p>
	</div>
</div>
